<nav>
    <ul>
        <li>
            <a href="/">
                Welcome Page
            </a>
        </li>
        <li>
            <a href="/templating-examples/">
                Templating Examples
            </a>
        </li>
        <li>
            <a href="/sign-up/">
                Sign Up
            </a>
        </li>
        <li>
            <a href="/sign-in/">
                Sign In
            </a>
        </li>
        <li>
            <a href="/todo/">
                Todo
            </a>
        </li>
    </ul>
</nav>